table, th, td {
  border: 2px solid black;
  margin-left: 72px;




}

th {
  color: black;
  background-color: darkkhaki;
}

td {
  color: black;
  background-color: rgba(126, 150, 94, 0.995);
}

h1 {
  color: green;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.create{
margin-left: 72px;

}

.addButton {
  color: black;
  background-color: darkkhaki;
}

.deleteButton {
  background-color: crimson;
}

.deleteButton2{
  background-color: crimson;
}











